<div class="row login-wrapper">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-block">
            <form class="login-form" novalidate #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <h1>Login</h1>
                <div class="form-group">
			        <label htmlFor=username>Username</label>
			        <input
				        type=text
				        class="form-control"
				        name=username
			        />
			        <!-- {error && <span class="error">{error}</span>} -->
			    </div>
			    <div class="form-group">
			        <label htmlFor=password>Password</label>
			        <input
				        type=text
				        class="form-control"
				        name=password
			        />
			        <!-- {error && <span class="error">{error}</span>} -->
			    </div>
			    <div class="form-group">
				    <button type="submit" [disabled]="!loginForm.form.valid">Submit</button>
			    </div>
            </form>
        </div>
    </div>
</div>
