html,
body,
.main-wrapper {
	height: 100%;
}

@font-face {
	font-family: 'Frutiger Next Pro';
	src: url('./assets/fonts/frutigernextpro-regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Frutiger Next Pro';
	font-size: 14px;
}